.profile-img {
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
  width: 152px;
  height: 152px;
}
.header-img {
  width: 100%;
  height: auto;
}
.div {
  background-color: aqua;
}
header {
  float: right;
}
.center {
  text-align: center;
}
.left {
  float: left;
}
.nav-button {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
.nav {
  list-style: none;
  display: inline;
  margin-left: auto;
}
.nav li {
  display: inline-block;
  margin: 10px;
}
.exp-section-item {
  display: flex;
}
.org-role {
  display: flex;
  flex-direction: column;
}
